
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li, input,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  text-decoration: none;
  background-color: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS PROPIO */

html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  padding: 30px;
  position: relative;
  overflow-x: hidden;
  font-size: 17px;
  line-height: 27px;
  font-weight: 400;
  background-color: #eee;
  /* background-image: url('../images/background.png'); */
  background-repeat: repeat;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 50px;
}
a {
  color: black;
}
h2 {
  font-size: 36px;
  line-height: 64px;
  margin: 25px 0;
  font-weight: 700;
  color: #1d1d1d;
}
h4 {
  font-size: 18px;
  line-height: 25px;
  /* margin-bottom: 25px; */
}
.logo-mobile {
  display: block;
  max-width: 200px;
}
.logo-desktop {
  display: none;
}
.main {
  position: relative;
  padding-bottom: 40px;
}
.main-wrapper {
  margin: 60px 0;
}
.wrapper {
  max-width: 100%;
}
.menu {
  display: flex;
}
.menu-hamburger {
  font-size: 1.8em;
  color: black;
}
.menu-items {
  display: none;
  color: white;
  position: absolute;
  background-color: black;
  left: 0;
  top: 140px;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: 20px;
}
.menu-items a {
  color: white;
  font-weight: 500;
  font-size: 1.5em;
  margin-left: 30px;
}
.menu-items a:hover, .current-url {
  text-decoration: underline;
}
.menu-item {
  padding-bottom: 20px;
}
.show-menu {
  display: block;
}

/* inicio tag filter ------------------------ */
.tag-filter {
  padding-bottom: 50px;
}
.tag-filter a:hover {
  color: rgb(82, 82, 82);
}
.tag-filter ul {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  line-height: 2.5
}
.tag-filter li a {
  font-size: 18px;
  padding: 0 10px;
}
.tag-filter li a:hover {
  color: #f8724f;
}
.tag-selected {
  font-weight: 800;
}
/* .page-title {
border-bottom: solid black 1px;
} */
@media (min-width: 470px) {
  .tag-filter {
    padding-bottom: 0;
  }
  .tag-filter ul {
    justify-content: space-evenly;
  }
  .tag-filter li a {
    line-height: 50px;
    padding: 0;
  }
}
/* inicio tag filter ------------------------ */

/* INICIO MASONRY ----------------------------------------*/
.project-wrapper {
  /* padding: 10px 0 10px 0; */
  padding: 50px 0;
  border-top: solid 1px black;
}
.project-masonry {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1.5em;
  /* padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  -ms-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: .85em; */
}
@media (min-width: 400px) {

  .project-masonry {
    grid-template-columns: repeat(2, 1fr);
    /* -ms-column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2; */
  }
}
@media (min-width: 720px) {
  .project-masonry {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    /* -ms-column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3; */
  }
}
.project-card {
  display: inline-block;
  /* margin: 0 0 1em; */
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  line-height: 0;
}
/* FIN MASONRY ----------------------------------------*/

/* Inicio loading icon ---------------------------------------- */
.loader-parent {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(223, 223, 223, 0.28);
}
.loader {
  border: 10px solid rgba(255, 189, 128, 1);
  border-radius: 50%;
  border-top: 10px solid white;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 60%;
  left: 47%;
  display: none;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* fin loading icon ---------------------------------------- */

.project-link {
  display: table-cell;
  position: relative;
}
.project-link:hover {
  filter: grayscale(100%);
}
.project-caption {
  opacity: 0;
  transition: all 150ms linear;
  text-align: center;
  background-color: rgba(198, 198, 198, 0.9);
  /* background: rgba(255, 189, 127, 0.8); */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}
.project-caption div {
  display: table;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.project-caption > div > div {
  display: table-cell;
  vertical-align: middle;
}
.show-caption {
  opacity: 100;
}
.project-img {
  width: 100%;
}
.image {
  width: 100%;
}
.project-title {
  font-size: 21px;
  line-height: 29px;
  font-weight: 700;
  color: #000;
  margin-bottom: 0;
  text-transform: none;
  max-width: 240px;
  margin: 0 auto;
}
.tag-name {
  color: #1b1b1b;
  font-size: 18px;
  line-height: 25px;
  text-transform: none;
  font-style: italic;
  display: inline;
  font-weight: lighter;
}

/* estudio ---------------------------------------------------*/
.studio-img {
  width: 100%;
}
.text {
  margin: 50px 0;
}

/* vista proyecto ---------------------------------------------------*/
.project-data {
  width: 100%;
  display: block;
  margin: 40px 0;
}
.top-left-side {
  margin-bottom: 20px;
}
.right-side {
  font-size: 0.8em;
  padding: 0 0 30px;
}
.project-data-title {
  font-size: 1.2em;
  font-weight: 700;
}
.project-data-tag {
  font-style: italic;
}
.bold {
  font-weight: 700;
}
footer {
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  border-top: solid 1px black;
  padding: 60px 20px;
  line-height: 22px;
}

/* INICIO BACK TO TOP ----------------------------------------- */
#backTop {
  visibility: hidden;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #f8724f;
  color: white;
  cursor: pointer;
  height: 55px;
  width: 55px;
  opacity: 0;
  transition: opacity 0.5s linear;
}
#backTop:hover {
  background-color: grey;
}
/* FIN BACK TO TOP ----------------------------------------- */

@media (min-width: 470px) {
  header {
    /* max-width: 1180px; */
    margin-bottom: 70px;
    align-items: top;
    padding: 0;
    /* display: flex;
    align-items: baseline; */
  }
  .logo-mobile {
    display: none;
  }
  .logo-desktop {
    display: block;
    max-width: 200px;
  }
  .main {
    /* max-width: 1180px; */
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 0px;
    margin-bottom: 30px;
  }
  .wrapper {
    max-width: 1180px;
  }
  .menu-item {
    padding-bottom: 0;
  }
  .tag-filter {
    display: flex;
  }
  .tag-filter li {
    margin: 0 10px;
  }
  footer {
    text-align: center;
    font-weight: 500;
    font-size: 13px;
  }
  .project-data {
    display: flex;
    flex-direction: row-reverse;
  }
  .left-side {
    width: 70%;
    padding-right: 50px;
  }
  .right-side {
    width: 30%;
    font-size: 0.8em;
  }
}

@media (min-width: 720px) {
  body {
    padding: 85px;
  }
  .header {
    height: 214px;
  }
  .menu-hamburger {
    display: none;
  }
  .menu-items {
    display: block;
    color: black;
    position: relative;
    background-color: transparent;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-top: 0;
  }
  .menu-items a {
    color: black;
  }
  .menu-item {
    display: inline;
  }

  /*inicio login form-------------------------------------- */
  .caja {
    max-width: 400px;
    margin: 0 auto;
    background-color: lightgrey;
    padding: 30px;
  }
  .section-title {
    font-size: 20px;
    font-weight: 700;
    color: black;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }
  .form-label {
    color: black;
    display: block;
  }
  .input {
    padding-bottom: 10PX;
  }
  .input-login {
    width: 100%;
    border: 1px solid grey;
    height: 40px;
    padding: 10px;
  }
  .rememberme {
    color: coral;
    font-size: 15px;
    margin-top: 15px;
  }
  .login-foot {
    display: flex;
    justify-content: space-between;
  }
  .btn {
    padding: 5px 20px;
    background-color: coral;
    color: white;
    text-transform: uppercase;
    margin-right: 20px;
    cursor: pointer;
  }
  .btn:hover {
    background-color: #FF9966;
  }
  .reset {
    font-size: 15px;
    color: black;
    padding: 0;
    align-self: flex-end;
    line-height: 12px;
  }
  .help-block {
    font-size: 14px;
    color: red;
  }
  textarea:focus, input:focus{
    outline: none;
  }

  /*fin login form-------------------------------------- */
}
